*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
form#form_user{
    position: relative;
    border: 1px solid black;
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-image: linear-gradient(blue 10%, white 11%);
    border-radius: 8px;
}
span.inLineBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin-top: 10px;
}
span.inLineBlock label{
    font-size: 18px;
}
input#input_userName, input#input_userPassword{
    padding: 6px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .7);
}
input#input_userName:focus, input#input_userPassword:focus{
    outline: none;
}
span.inLine{
    margin-top: 8px;
    font-size: 13px;
    color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
span.inLine label, span.inLine input{cursor: pointer;}

input[type="submit"], button#createAccountBtn, button#backToLogin{
    margin: 15px auto 10px auto;
    width: 6em;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    border: 1px solid transparent;
    color: white;
    transition: .1s;
}
input[type="submit"]:hover, button#createAccountBtn:hover, button#backToLogin:hover{
    transform: scale(1.06);
    transition: .1s;
}
button#createAccountBtn, button#backToLogin{
    background-color: transparent;
    border: 1px solid blue;
    color: black;
}
span.inLineSubmits{
    margin-top: 8px;
    font-size: 13px;
    color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
div#afterLogin{
    font-size: 20px;
}
button#exitBtn{
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    margin-top: 120px;
    transition: .1s;
}
button#exitBtn:hover{
    transform: scale(1.07);
    transition: .1s;
}
form#form_createUser{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid black;
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-image: linear-gradient(blue 10%, white 11%);
    border-radius: 8px;
}
span.createInLineBlock label{
    cursor: pointer;
    font-size: 18px;
}
span.createInLineBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 83%;
    margin-top: 10px;
}
span.createInLineBlock input{
    padding: 6px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .7);

}
span.createInLineBlock input:focus{
    outline: none;
}
span.createInLine{
    margin-top: 8px;
    font-size: 13px;
    color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
span.createInLine input, span.createInLine label{cursor: pointer;}

span.CreateInLineSubmits{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 190px;
}


